// place your custom styles here
@use "config";

// 必应壁纸
.bing-switch {
  @media (max-width: 900px) {
    pointer-events: none;
    .bing-location,
    .bing-info {
      visibility: hidden;
    }
    .bing-switch-prev,
    .bing-switch-next {
      pointer-events: auto;
    }
  }
}

// 页脚
.vp-footer-wrapper {
  flex-direction: column;
  justify-content: center;

  .vp-footer {
    margin-bottom: 0;
    .framework {
      margin-bottom: 6px;
      margin-left: -5px;
      @media (max-width: 459px) {
        margin-left: 0;
      }
    }

    .beian {
      margin-bottom: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 459px) {
        flex-direction: column;
        a {
          padding: 6px 0;
        }
        // 隐藏竖线
        a ~ span {
          display: none;
        }
      }
    }
  }
}
